*{
    box-sizing: border-box;
}


body{
    margin: 0;
}

ul{
    list-style: none;
}

textarea{
    resize: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-height: 100vh;
    width: 100%;
    background: #5372F0;
}

.container{
    max-width: 690px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.01);
}

.wrapper{
    border-radius: 5px;
    border: 1px solid #bbb;
}

.wrapper .text-input {
    display: flex;
    border-bottom: 1px solid #ccc;
}


.text-input .to-text{
border-radius: 0px;
border-left: 1px solid #bbb;

}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    background-color: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 15px;
}

.controls,.icons,.icons i,li{
    display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
    list-style: none;
    padding: 12px 15px;
}

.controls .row.to .icons{
    padding-right: 15px;
    border-left: 1px solid #bbb;
}
.controls .row.from .icons{
    padding-right: 15px;
    border-right: 1px solid #bbb;
}

.controls .icons{
  width: 38%;
}

.controls .icons i{
    width: 50px;
color:#9f9f9f ;
font-size: 14px;
cursor: pointer;
justify-content: center;

}

.controls .row select{
   border: none;
   outline: none;
   font-size: 18px;
   background-color: none; 
}

.controls .exchange{
    color: #9f9f9f;
    font-size: 16px;
    cursor: pointer;
}

.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border:none;
    outline: none;
    cursor:pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    background-color: #5372f0;
}

.fas,select{
    cursor: pointer;
}
.fa-copy{
    position: relative;
}
.isCopyFrom,.isCopyTo{
    border: 1px solid #9f9f9f;
    padding: .3em;
    border-radius: 5px;
    position: absolute;
    top: -.8em;
    background-color: #fff;
    left: 1.4em;
    opacity: 0;
    pointer-events: none;
    transition:.3s opacity ease-in-out;
}

.isCopyFrom.active,.isCopyTo.active{
    opacity: 1;
}